<div class="policy-logo">
  <img alt="logo" class="text-center" src="./assets/img/PhilliplifeLogo.svg" width="100px" />
</div>
<!-- <div class="policy-back">
  <img alt="logo" class="text-center" src="./assets/img/PhilliplifeLogo.svg" width="100px" />
</div> -->
<div class="privacy w-100">
  <div class="card">
    <p-scrollPanel [style]="{ width: '100%', height: '70vh' }" styleClass=" app-scrollbar">
      <div>
        <h2>นโยบายการคุ้มครองข้อมูลส่วนบุคคล</h2>

        <h5>
          บริษัท ฟิลลิปประกันชีวิต จำกัด (มหาชน) (บริษัทฯ)
          ตระหนักและให้ความสำคัญกับการรักษาความลับและการปกป้องข้อมูลส่วนบุคคลของลูกค้า
          ผู้สมัครสอบใบอนุญาตตัวแทนประกันชีวิต ตัวแทนประกันชีวิต ผู้บริหารงานขายประกันชีวิต
          นายหน้าประกันชีวิต ผู้แนะนำการลงทุน ที่ปรึกษาการเงิน และพนักงาน
          จึงได้จัดทำนโยบายการคุ้มครองข้อมูลส่วนบุคคลนี้ขึ้น เพื่อกำหนดหลักเกณฑ์ในการเก็บรวบรวม
          การใช้ และการเปิดเผยข้อมูลส่วนบุคคลของบุคคลดังกล่าวข้างต้น
          เพื่อให้เกิดความมั่นใจในความเป็นส่วนตัวและความปลอดภัยของข้อมูล
        </h5>

        <h3>ข้อ 1. คำนิยาม</h3>

        <h5>
          “ข้อมูลส่วนบุคคล” หมายถึง
          ข้อมูลเกี่ยวกับบุคคลซึ่งทำให้สามารถระบุตัวบุคคลนั้นได้ไม่ว่าทางตรงหรือทางอ้อม
          แต่ไม่รวมถึงข้อมูลของผู้ถึงแก่กรรมโดยเฉพาะ
        </h5>

        <h5>
          “เจ้าของข้อมูลส่วนบุคคล” หมายถึง ผู้ที่พนักงานหรือลูกจ้างของบริษัท ตัวแทนประกันชีวิต
          นายหน้าประกันชีวิต และรวมถึงผู้ได้รับมอบอำนาจจากบริษัทฯ เชิญชวน ชักชวน ชี้ช่อง
          หรือจัดการให้ทำประกันภัยกับบริษัท และให้รวมถึงผู้ขอเอาประกันภัย ผู้เอาประกันภัย
          ผู้ถือกรมธรรม์ ผู้รับประโยชน์ ผู้มีสิทธิเรียกร้องตามกรมธรรม์ประกันภัย
          ผู้ที่ทำธุรกรรมกับบริษัทฯ ผู้ถือหน่วยลงทุนและผู้รับประโยชน์ทอดสุดท้าย แล้วแต่กรณี
          ตลอดจนผู้ใช้บริการเว็บไซต์ หรือช่องทางออนไลน์อื่นๆ ที่บริษัทฯ เป็นผู้ให้บริการ
          และให้รวมถึงผู้สมัครสอบใบอนุญาตตัวแทนประกันชีวิต ตัวแทนประกันชีวิต
          ผู้บริหารงานขายประกันชีวิต นายหน้าประกันชีวิต ผู้แนะนำการลงทุน ที่ปรึกษาการเงิน และพนักงาน
        </h5>

        <h3>ข้อ 2. ข้อมูลส่วนบุคคลที่เก็บรวบรวม</h3>

        <h5>บริษัทฯ ดำเนินการเก็บรวบรวมข้อมูลส่วนบุคคลของเจ้าของข้อมูลส่วนบุคคล ดังต่อไปนี้</h5>

        <h5>
          2.1 ข้อมูลที่บ่งชี้ตัวตน ได้แก่ ชื่อ นามสกุล เพศ วันเดือนปีเกิด อายุ สถานภาพ ที่อยู่อาศัย
          ศาสนา อาชีพ สถานที่ทำงาน หมายเลขโทรศัพท์ หมายเลขโทรสาร ชื่อผู้ใช้อีเมล
          หรือบรรดาที่มีชื่อของบุคคลนั้น หรือมีเลขหมาย รหัส หรือสิ่งอื่นใดที่ทำให้รู้ตัวบุคคลนั้นได้
          เช่น ลายพิมพ์นิ้วมือ แผ่นบันทึกลักษณะเสียงของคน หรือรูปถ่าย
          ตลอดจนข้อมูลส่วนบุคคลที่บริษัทฯ ได้รับจากหน่วยงานราชการ
        </h5>

        <h5>
          2.2 ข้อมูลด้านสุขภาพ ได้แก่ ข้อมูลหรือสิ่งใด ๆ ที่แสดงออกมาในรูปเอกสาร แฟ้ม รายงาน หนังสือ
          แผนผัง แผนที่ ภาพวาด ภาพถ่าย ฟิล์ม
          การบันทึกภาพหรือเสียงการบันทึกโดยเครื่องมือทางอิเล็กทรอนิกส์
          หรือวิธีอื่นใดที่ทำให้สิ่งที่บันทึกไว้ปรากฏขึ้นในเรื่องที่เกี่ยวกับสุขภาพของบุคคลที่สามารถระบุตัวบุคคลได้
        </h5>

        <h3>ข้อ 3. แหล่งที่มาของข้อมูลส่วนบุคคล</h3>

        <h5>
          บริษัทฯ
          มีการจัดเก็บข้อมูลส่วนบุคคลด้วยวิธีการตามกฎหมายและเป็นธรรมจากเจ้าของข้อมูลส่วนบุคคลผ่านการสมัครทำประกันชีวิต
          การลงทะเบียน การกรอกข้อมูลสมัครสมาชิก การสมัครรับข่าวสารต่างๆ การทำธุรกรรมใดๆกับบริษัทฯ
          การเปิดบัญชีผู้ถือหน่วยลงทุน
          หรือจัดเก็บข้อมูลส่วนบุคคลจากผู้สมัครสอบใบอนุญาตตัวแทนประกันชีวิต ตัวแทนประกันชีวิต
          นายหน้าประกันชีวิต ที่ปรึกษาการเงิน
          หรือจากการใช้บริการผ่านทางเว็บไซต์หรือช่องทางออนไลน์อื่นๆที่บริษัทฯ เป็นผู้ให้บริการ
          ตลอดจนการสมัครงาน การทำสัญญาจ้างงาน การทำสัญญาแต่งตั้งตัวแทนประกันชีวิต
          สัญญาผู้บริหารงานขายประกันชีวิต หรือนายหน้าประกันชีวิต สัญญาแต่งตั้งผู้แนะนำการลงทุน
          ทั้งนี้ บริษัทฯ
          จะจัดเก็บข้อมูลเท่าที่จำเป็นเพื่อให้บรรลุวัตถุประสงค์และตามที่กฎหมายกำหนดเท่านั้น
        </h5>

        <h3>ข้อ 4 การเก็บรวบรวม ใช้ และเปิดเผยข้อมูลส่วนบุคคล</h3>

        <h5>
          บริษัทฯ ดำเนินการเก็บรวบรวม ใช้ และเปิดเผยข้อมูลส่วนบุคคลของเจ้าของข้อมูลส่วนบุคคล
          ภายใต้วัตถุประสงค์ดังต่อไปนี้
        </h5>

        <h5>4.1 วัตถุประสงค์ในการเก็บรวบรวม ใช้ และเปิดเผยข้อมูลส่วนบุคคลของลูกค้า</h5>

        <h5>
          4.1.1 เพื่อการประมวลผล การบริหารจัดการ การดำเนินการเกี่ยวกับคำขอเอาประกันภัย
          หรือธุรกรรมต่างๆ ที่เจ้าของข้อมูลส่วนบุคคลยื่นต่อบริษัทฯ รวมถึงการพิจารณารับประกันภัย
          การดำเนินการและให้บริการต่างๆ ที่เกี่ยวกับกรมธรรม์ประกันภัย
          การจัดเก็บเบี้ยประกันภัยและหนี้สินอื่นๆ (ถ้ามี) การตรวจสอบ การวิเคราะห์ การประมวลผล
          การจ่ายเงินตามกรมธรรม์ประกันภัย รวมถึงการต่ออายุการเปลี่ยนแปลงแก้ไข
          การยกเลิกกรมธรรม์ประกันภัย
          และการประกันภัยต่อที่เกี่ยวกับกรมธรรม์ประกันภัยของเจ้าของข้อมูลส่วนบุคคล
          ตลอดจนการใช้ข้อมูลธุรกรรมการลงทุนภายใต้บัญชีผู้ถือหน่วยลงทุน
        </h5>

        <h5>
          4.1.2 เพื่อดำเนินการบริหารจัดการผลิตภัณฑ์หรือบริการของบริษัทฯ รวมถึงช่วยให้บริษัทฯ
          สามารถปฏิบัติตามภาระผูกพันที่บริษัทฯ มีต่อเจ้าของข้อมูลส่วนบุคคล และส่งมอบบริการต่างๆ
          ที่เกี่ยวข้อง ตามที่ได้ตกลงไว้กับเจ้าของข้อมูลส่วนบุคคลที่จะซื้อผลิตภัณฑ์หรือบริการ
        </h5>

        <h5>4.1.3 เพื่อปฏิบัติตามข้อบังคับ หรือข้อกำหนดอื่นๆ ตามกฎหมาย</h5>

        <h5>
          4.1.4 เพื่อดำเนินการสอบทาน ตรวจสอบ ข้อมูลส่วนบุคคลของเจ้าของข้อมูลส่วนบุคคล
          ที่ได้รับจากหน่วยงานหรือองค์กรต่างๆ เช่น โรงพยาบาล และหน่วยงานทางการแพทย์
          หรือหน่วยงานอื่นๆ
        </h5>

        <h5>
          4.1.5 เพื่อให้ข้อมูลเกี่ยวกับการบริการหลังการขายแก่เจ้าของข้อมูลส่วนบุคคล
          รวมถึงการให้บริการติดตาม ประสานงาน แก้ไขปัญหา แก่เจ้าของข้อมูลส่วนบุคคลตามความเหมาะสม เช่น
          การบริการเกี่ยวกับกรมธรรม์ประกันภัย หรือการตอบข้อซักถาม เป็นต้น
        </h5>

        <h5>
          4.1.6 เพื่อใช้ข้อมูลในการวิเคราะห์ เสนอ ให้ ใช้ และ/หรือปรับปรุงบริการ
          หรือผลิตภัณฑ์ประกันภัย
        </h5>

        <h5>4.1.7 เพื่อใช้ข้อมูลในการวิเคราะห์ตลาดและการจัดกิจกรรมส่งเสริมการขาย</h5>

        <h5>4.1.8 เพื่อการดำเนินการใดๆ ที่เกี่ยวข้องโดยตรงตามที่กล่าวมาข้างต้น</h5>

        <h5>
          4.2 วัตถุประสงค์ในการเก็บรวบรวม ใช้
          และเปิดเผยข้อมูลส่วนบุคคลของผู้สมัครสอบใบอนุญาตตัวแทนประกันชีวิต ตัวแทนประกันชีวิต
          ผู้บริหารงานขายประกันชีวิต นายหน้าประกันชีวิต ผู้แนะนำการลงทุน ที่ปรึกษาการเงิน และพนักงาน
        </h5>

        <h5>
          4.2.1 เพื่อการพิจารณารับสมัครสอบ การประกาศผลการสอบ การส่งผลการสอบ การจัดทำสถิติการสอบ
          การตัดสิทธิการสมัครสอบกรณีทุจริตหรือมีส่วนร่วมในการทุจริตการสอบ
          การออกใบอนุญาตเป็นตัวแทนประกันชีวิต และเพื่อประโยชน์ต่อการประกันชีวิตและประชาชน
        </h5>

        <h5>
          4.2.2 เพื่อการประมวลผล การบริหารจัดการ การดำเนินการเกี่ยวกับการสมัครงาน การทำสัญญา จ้างงาน
          การทำสัญญาแต่งตั้งตัวแทนประกันชีวิตหรือนายหน้าประกันชีวิต
          การทำสัญญาแต่งตั้งผู้แนะนำการลงทุน
        </h5>

        <h5>
          4.2.3 เพื่อวิเคราะห์และประเมินผลการปฏิบัติงาน การจ่ายเงินเดือน โบนัส ค่าคอมมิชชั่น
          หรือผลตอบแทนอื่นๆที่บริษัทฯ ให้เนื่องจากการปฎิบัติงาน ตลอดจนสวัสดิการต่างๆ
          ตามนโยบายของบริษัทฯ
        </h5>

        <h5>
          4.2.4 เพื่อใช้ในสอบสวนทางวินัยกรณีบริษัทฯ ได้รับข้อร้องเรียนอันเนื่องมาจากการปฏิบัติ
        </h5>

        <h5>
          4.2.5 เพื่อใช้ในการก่อตั้งสิทธิเรียกร้องตามกฎหมาย
          การปฏิบัติตามหรือการใช้สิทธิเรียกร้องตามกฎหมาย หรือการยกขึ้นต่อสู้สิทธิเรียกร้องตามกฎหมาย
        </h5>

        <h5>4.2.6 เพื่อปฏิบัติตามข้อบังคับ หรือข้อกำหนดอื่นๆ ตามกฎหมาย</h5>

        <h5>4.2.7 เพื่อการดำเนินการใดๆ ที่เกี่ยวข้องโดยตรงตามที่กล่าวมาข้างต้น</h5>

        <h3>ข้อ 5 การเปิดเผยข้อมูลส่วนบุคคล</h3>

        <h5>
          ข้อมูลส่วนบุคคลจะถูกเก็บรักษาไว้เป็นความลับตามที่กฎหมายกำหนด
          และตามวัตถุประสงค์ที่กำหนดไว้ในข้อ 4 ทั้งนี้ บริษัทฯ จะอนุญาตให้เฉพาะเจ้าหน้าที่ของบริษัทฯ
          และส่วนงานที่เกี่ยวข้องเท่านั้นที่จะเข้าถึงข้อมูลของเจ้าของข้อมูลส่วนบุคคลได้
          โดยเจ้าหน้าที่และส่วนงานดังกล่าวต้องผ่านการอบรมและต้องเข้าใจนโยบายการคุ้มครองข้อมูลส่วนบุคคลเป็นอย่างดี
        </h5>

        <h5>
          บริษัทฯ อาจเปิดเผยข้อมูลส่วนบุคคลให้แก่ ตัวแทนประกันชีวิต ผู้บริหารงานขายประกันชีวิต
          นายหน้าประกันชีวิต ผู้แนะนำการลงทุน ที่ปรึกษาการเงิน พนักงาน บริษัทประกันภัยต่อ
          บริษัทในเครือกิจการหรือเครือธุรกิจเดียวกัน พันธมิตรทางธุรกิจ
          สำนักงานคณะกรรมการกำกับและส่งเสริมการประกอบธุรกิจประกันภัย
          สำนักงานคณะกรรมการกำกับหลักทรัพย์และตลาดหลักทรัพย์ สมาคมประกันชีวิตไทย
          สำนักงานป้องกันและปราบปรามการฟอกเงิน กรมสรรพากร บริษัทหลักทรัพย์จัดการกองทุน
          สถานพยาบาลที่ให้บริการกับผู้เอาประกัน และ/หรือ คู่สัญญากับบริษัทฯ สำนักงานประกันสังคม
          ศูนย์การจัดการสอบตัวแทนประกันชีวิต และหน่วยงานอื่นๆ ที่มีอำนาจตามกฎหมาย
        </h5>

        <h5>
          ในกรณีที่บริษัทฯ
          จำเป็นต้องเปิดเผยข้อมูลส่วนบุคคลของเจ้าของข้อมูลส่วนบุคคลต่อหน่วยงานอื่นนอกเหนือจากที่กล่าวข้างต้น
          บริษัทฯ จะติดต่อขอรับความยินยอมจากเจ้าของข้อมูลส่วนบุคคล ทั้งนี้
          การยินยอมให้เปิดเผยข้อมูลส่วนบุคคลจะขึ้นอยู่กับดุลพินิจของเจ้าของข้อมูลส่วนบุคคลเอง
          เว้นแต่เป็นการเปิดเผยข้อมูลตามคำสั่งของหน่วยงานราชการที่มีอำนาจตามกฎหมาย
        </h5>

        <h3>ข้อ 6 การโอนข้อมูลไปต่างประเทศ</h3>

        <h5>
          บริษัทฯ อาจส่งหรือโอนข้อมูลส่วนบุคคลของเจ้าของข้อมูลส่วนบุคคลไปยังต่างประเทศ
          เพื่อประโยชน์ในการดำเนินการตามวัตถุประสงค์ของการเก็บรวบรวม ใช้
          และเปิดเผยข้อมูลส่วนบุคคลตามที่ระบุในนโยบายการคุ้มครองข้อมูลส่วนบุคคลฉบับนี้
        </h5>

        <h5>
          ทั้งนี้ ในการส่งหรือโอนข้อมูลส่วนบุคคล บริษัทฯ
          จะคำนึงถึงมาตรฐานการคุ้มครองข้อมูลส่วนบุคคลของประเทศปลายทางเป็นสำคัญ
          เว้นแต่การส่งข้อมูลส่วนบุคคลนั้นเป็นการปฏิบัติตามกฎหมาย
          หรือได้รับความยินยอมจากเจ้าของข้อมูลส่วนบุคคล โดยบริษัทฯ
          ได้แจ้งให้เจ้าของข้อมูลส่วนบุคคลทราบถึง
          มาตรฐานการคุ้มครองข้อมูลส่วนบุคคลที่ไม่เพียงพอของประเทศปลายทางหรือองค์การระหว่างประเทศที่รับข้อมูลส่วนบุคคลแล้ว
        </h5>

        <h3>ข้อ 7 การเก็บรักษาและระยะเวลาในการเก็บรักษาข้อมูลส่วนบุคคล</h3>

        <h5>
          ข้อมูลส่วนบุคคลของเจ้าของข้อมูลส่วนบุคคลจะได้รับการเก็บรักษาเป็นความลับ
          ทั้งในรูปเอกสารและข้อมูลอิเล็คทรอนิกส์ รวมทั้งในระหว่างการส่งข้อมูลทุกขั้นตอน
        </h5>

        <h5>
          บริษัทฯ จะเก็บข้อมูลส่วนบุคคลของเจ้าของข้อมูลส่วนบุคคลตลอดระยะเวลาที่มีนิติสัมพันธ์
          และจะเก็บข้อมูลส่วนบุคคลต่อไปอีกเป็นเวลา 10 ปี นับแต่วันเลิกสัญญาประกันภัย
          หรือนับแต่วันที่บริษัทปฏิเสธการรับประกันภัย
          หรือนับแต่วันสิ้นสุดสัญญาการเป็นผู้ถือหน่วยลงทุนกองทุนรวมกับบริษัทฯ
          หรือนับแต่วันสิ้นสุดสัญญาจ้างงาน สัญญาแต่งตั้งตัวแทนประกันชีวิต
          สัญญาผู้บริหารงานขายประกันชีวิตหรือนายหน้าประกันชีวิต สัญญาแต่งตั้งผู้แนะนำการลงทุน
          หรือนับแต่วันที่บริษัทฯ
          ปฏิเสธการทำสัญญาจ้างงานหรือปฏิเสธการทำสัญญาแต่งตั้งตัวแทนประกันชีวิต
          สัญญาผู้บริหารงานขายประกันชีวิตหรือนายหน้าประกันชีวิต สัญญาแต่งตั้งผู้แนะนำการลงทุน
          หรือนับแต่วันที่ประกาศผลสอบตัวแทนประกันชีวิตครั้งล่าสุด
          หรือนับแต่วันหรือภายในระยะเวลาที่กฎหมายกำหนดให้เก็บข้อมูลส่วนบุคคล เช่น
          กฎหมายว่าด้วยการประกันชีวิต กฎหมายว่าด้วยหลักทรัพย์และตลาดหลักทรัพย์
          กฎหมายว่าด้วยการป้องกันและปราบปรามการฟอกเงิน กฎหมายว่าด้วยสถาบันการเงิน
          กฎหมายว่าด้วยภาษีอากร กฎหมายว่าด้วยการบัญชี กฎหมายว่าด้วยการประกันสังคม เป็นต้น
        </h5>

        <h3>ข้อ 8 สิทธิของเจ้าของข้อมูลส่วนบุคคล</h3>

        <h5>
          8.1
          สิทธิในการเพิกถอนความยินยอมเพื่อประมวลผลข้อมูลส่วนบุคคลที่เจ้าของข้อมูลส่วนบุคคลได้ให้ความยินยอมไว้ตลอดระยะเวลาที่บริษัทฯ
          เก็บข้อมูลส่วนบุคคล
        </h5>

        <h5>
          8.2 สิทธิในการเข้าถึงหรือขอให้บริษัทฯ ทำสำเนาข้อมูลส่วนบุคคลที่เกี่ยวกับตน
          ซึ่งอยู่ในความรับผิดชอบของบริษัทฯ
          หรือขอให้เปิดเผยถึงการได้มาซึ่งข้อมูลส่วนบุคคลดังกล่าวที่เจ้าของข้อมูลส่วนบุคคลไม่ได้ให้ความยินยอม
        </h5>

        <h5>
          8.3 สิทธิในการขอให้บริษัทฯ แก้ไขข้อมูลที่ไม่ถูกต้อง หรือ เพิ่มเติมข้อมูลที่ไม่สมบูรณ์
        </h5>

        <h5>
          8.4 สิทธิในการลบหรือทำลาย
          หรือทำให้ข้อมูลส่วนบุคคลเป็นข้อมูลที่ไม่สามารถระบุตัวบุคคลที่เป็นเจ้าของข้อมูลส่วนบุคคลได้ตามที่พระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคลกำหนด
        </h5>

        <h5>
          8.5 สิทธิในการระงับการใช้ข้อมูลส่วนบุคคลตามที่พระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคลกำหนด
        </h5>

        <h5>
          8.6 สิทธิในการให้โอนย้ายข้อมูลส่วนบุคคลที่ได้ให้ไว้กับบริษัทฯ
          ไปยังผู้ควบคุมข้อมูลส่วนบุคคลรายอื่น
          หรือไปยังเจ้าของข้อมูลส่วนบุคคลตามที่พระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคลกำหนด
          เว้นแต่ไม่สามารถกระทำได้ด้วยวิธีการอัตโนมัติ หรือสภาพทางเทคนิคไม่เปิดช่องให้กระทำได้
          หรือเป็นการปฏิบัติหน้าที่เพื่อประโยชน์สาธารณะ หรือการปฏิบัติหน้าที่ตามกฎหมาย
          หรือการใช้สิทธินั้นจะเป็นการละเมิดสิทธิหรือเสรีภาพของบุคคลอื่น
        </h5>

        <h5>
          8.7
          สิทธิในการคัดค้านการประมวลผลข้อมูลส่วนบุคคลตามที่พระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคลกำหนด
        </h5>

        <h5>8.8 สิทธิในการร้องเรียนไปยังสำนักงานคณะกรรมการคุ้มครองข้อมูลส่วนบุคคล</h5>

        <h5>
          เจ้าของข้อมูลส่วนบุคคลสามารถยื่นคำร้องขอดำเนินการตามสิทธิดังกล่าวข้างต้นได้ตามช่องทางที่บริษัทฯ
          กำหนด ทั้งนี้ บริษัทฯ จะพิจารณาและแจ้งผลการพิจารณาคำร้องขอไม่เกิน 30 วัน
          ทำการนับแต่วันที่บริษัทฯ ได้รับคำร้องขอดังกล่าว
        </h5>

        <h3>ข้อ 9 ผลการเพิกถอนความยินยอม</h3>

        <h5>
          เจ้าของข้อมูลส่วนบุคคลสามารถใช้สิทธิเพิกถอนความยินยอมให้บริษัทฯ เก็บรวบรวม ใช้
          หรือเปิดเผยข้อมูลส่วนบุคคลได้ เว้นแต่ข้อมูลส่วนบุคคลดังกล่าวบริษัทฯ มีอำนาจเก็บรวบรวม ใช้
          หรือเปิดเผยได้ตามพระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคลหรือตามกฎหมายอื่น
        </h5>

        <h5>
          การใช้สิทธิเพิกถอนความยินยอมให้บริษัทฯ เก็บรวบรวม ใช้
          หรือเปิดเผยข้อมูลส่วนบุคคลอาจส่งผลกระทบต่อเจ้าของข้อมูลส่วนบุคคลเกี่ยวกับการพิจารณารับประกันภัย
          หรือการให้บริการผู้ถือกรมธรรม์ หรือการจ่ายเงินตามกรมธรรม์ หรือการให้บริการใดๆ
          ที่เกี่ยวข้องกับการประกันภัย และส่งผลให้บริษัทฯ ไม่สามารถปฏิบัติตามสัญญาประกันภัย
          และ/หรือสัญญาในการเป็นผู้ถือหน่วยลงทุนกองทุนรวมได้ ตลอดจนการสอบใบอนุญาตตัวแทนประกันชีวิต
          การทำสัญญาจ้างงาน การทำสัญญาแต่งตั้งตัวแทนประกันชีวิต
          การทำสัญญาผู้บริหารงานขายประกันชีวิตหรือนายหน้าประกันชีวิต สัญญาแต่งตั้งผู้แนะนำการลงทุน
        </h5>

        <h5>
          หากเจ้าของข้อมูลส่วนบุคคลใช้สิทธิในการเพิกถอนความยินยอมให้บริษัทฯ เก็บรวบรวม ใช้
          หรือเปิดเผยข้อมูลส่วนบุคคล การเพิกถอนความยินยอมดังกล่าวจะไม่ส่งผลกระทบต่อการเก็บรวบรวม ใช้
          หรือเปิดเผยข้อมูลส่วนบุคคล ที่เจ้าของข้อมูลส่วนบุคคลได้ให้ความยินยอมไปแล้วก่อนหน้านั้น
        </h5>

        <h3>ข้อ 10 กิจกรรมทางการตลาดและส่งเสริมการตลาด</h3>

        <h5>
          ในระหว่างอายุสัญญาประกันภัย บริษัทฯ อาจส่งข้อมูลข่าวสารเกี่ยวกับกิจกรรมทางการตลาด
          และการส่งเสริมการตลาด ผลิตภัณฑ์ หรือการให้บริการอื่นของบริษัทฯ
          ที่คิดว่าเจ้าของข้อมูลส่วนบุคคลอาจสนใจเพื่อประโยชน์ในการให้บริการอย่างเต็มประสิทธิภาพ
          โดยเจ้าของข้อมูลส่วนบุคคลที่ได้รับข้อมูลข่าวสารดังกล่าวมีสิทธิยกเลิกความยินยอมในการรับข่าวสารได้ทุกเมื่อตามช่องทางที่ได้รับข้อมูลข่าวสารดังกล่าว
        </h5>

        <h5>
          ในการใช้งานระบบสมาชิกสะสมแต้ม บริษัทฯ อาจประมวลผลข้อมูลส่วนบุคคลของเจ้าของข้อมูลส่วนบุคคล
          เพื่อวัตถุประสงค์ในการสะสมแต้ม บันทึกประวัติการเข้าเป็นสมาชิก บันทึกการแลกแต้มสะสม
          หรือเพื่อยืนยันตัวตนในการใช้งานระบบ ทั้งนี้
          เจ้าของข้อมูลส่วนบุคคลมีสิทธิยกเลิกความยินยอมเพื่อใช้ระบบสมาชิกสะสมแต้มได้
        </h5>

        <h3>ข้อ 11 การใช้คุกกี้ (Cookies)</h3>

        <h5>
          “คุกกี้” คือ ข้อมูลที่บริษัทฯ ส่งไปที่เครื่องคอมพิวเตอร์หรืออุปกรณ์ผ่าน Web Browser
          ของเจ้าของข้อมูลส่วนบุคคล ในกรณีที่เจ้าของข้อมูลส่วนบุคคลเข้าใช้บริการเว็บไซต์
          หรือช่องทางออนไลน์อื่นๆ ของบริษัทฯ
          และติดตั้งข้อมูลดังกล่าวไว้ในระบบของเจ้าของข้อมูลส่วนบุคคล
          โดยหากมีการใช้คุกกี้ก็จะทำให้เว็บไซต์ของบริษัทฯ
          สามารถบันทึกหรือจดจำข้อมูลของเจ้าของข้อมูลส่วนบุคคลไว้จนกว่าเจ้าของข้อมูลส่วนบุคคลจะออกจาก
          Web browser หรือจนกว่าเจ้าของข้อมูลส่วนบุคคลจะทำการลบ
          คุกกี้นั้นเสียหรือไม่อนุญาตให้คุกกี้นั้นทำงานอีกต่อไป
        </h5>

        <h5>
          การใช้คุกกี้จะทำให้เจ้าของข้อมูลส่วนบุคคลได้รับความสะดวกสบายในการใช้บริการผ่านเว็บไซต์ของบริษัทฯ
          มากขึ้น เพราะคุกกี้จะช่วยจดจำเว็บไซต์ที่เจ้าของข้อมูลส่วนบุคคลแวะหรือเยี่ยมชม ทั้งนี้
          บริษัทฯ อาจนำข้อมูลที่คุกกี้ได้บันทึกหรือเก็บรวบรวมไว้ไปใช้ในกรณี ดังต่อไปนี้
        </h5>

        <h5>
          1. เพื่อให้ระบบแสดงข้อมูลหรืออนุญาตให้เจ้าของข้อมูลส่วนบุคคลเข้าถึงบริการบางอย่างได้ เช่น
          การแจ้งหรือส่งคำสั่งให้กับบริษัทฯ ดำเนินการ การสอบถามข้อมูลกรมธรรม์
          หรือการเปลี่ยนแปลงรายละเอียดส่วนตัว เช่น รหัสผ่าน (Password), E-mail Address, Mobile Phone
          เป็นต้น
        </h5>

        <h5>
          2. เพื่อให้บริษัทฯ สามารถนำเสนอข่าวสารหรือประชาสัมพันธ์เกี่ยวกับบริษัทฯ
          และบริการที่เป็นประโยชน์ต่อเจ้าของข้อมูลส่วนบุคคลแต่ละรายตามความเหมาะสม
        </h5>

        <h5>
          3.
          เพื่อใช้เป็นข้อมูลเบื้องต้นในการปรับปรุงเนื้อหาและบริการของเว็บไซต์ให้สอดคล้องกับความต้องการของเจ้าของข้อมูลส่วนบุคคลมากที่สุด
        </h5>

        <h5>4. เพื่อใช้ในการวิเคราะห์เชิงสถิติ หรือในกิจกรรมอื่นของบริษัทฯ</h5>

        <h3>ข้อ 12 นโยบายการคุ้มครองข้อมูลส่วนบุคคลของ Website อื่น</h3>

        <h5>
          นโยบายการคุ้มครองข้อมูลส่วนบุคคลฉบับนี้ใช้เฉพาะสำหรับการให้บริการของบริษัทฯ และการใช้งาน
          website ของบริษัทฯ เท่านั้น หากเจ้าของข้อมูลส่วนบุคคลได้กด link ไปยัง website อื่น
          โดยผ่านช่องทางใน website ของบริษัทฯ
          เจ้าของข้อมูลส่วนบุคคลจะต้องศึกษาและปฏิบัติตามนโยบายการคุ้มครองข้อมูลส่วนบุคคลที่ปรากฎใน
          website นั้นๆ แยกต่างหากจากบริษัทฯ
        </h5>

        <h3>ข้อ 13 การเปลี่ยนแปลงนโยบายข้อมูลส่วนบุคคล</h3>

        <h5>
          บริษัทฯ
          ขอสงวนสิทธิ์ในการเปลี่ยนแปลงนโยบายการคุ้มครองข้อมูลส่วนบุคคลเพื่อให้เป็นไปตามกฎหมายและเพื่อให้เกิดประโยชน์สูงสุดต่อเจ้าของข้อมูลส่วน
          โดยไม่ต้องแจ้งให้เจ้าของข้อมูลส่วนบุคคลทราบล่วงหน้า อย่างไรก็ตาม เมื่อมีการเปลี่ยนแปลงใดๆ
          เกี่ยวกับนโยบายการคุ้มครองข้อมูลส่วนบุคคล บริษัทฯ
          จะแจ้งผ่านเว็บไซต์หรือช่องทางออนไลน์ของบริษัทฯ
          เพื่อให้เจ้าของข้อมูลส่วนบุคคลทราบโดยทั่วกัน
        </h5>

        <h3>ข้อ 14 ช่องทางการติดต่อ</h3>

        <h5>
          เจ้าของข้อมูลส่วนบุคคลสามารถติดต่อบริษัทฯ
          เพื่อสอบถามข้อมูลเพิ่มเติมหรือยื่นคำร้องขอดำเนินการตามสิทธิของเจ้าของข้อมูลส่วนบุคคลได้ตามช่องทางที่กำหนดไว้ในประกาศบริษัท
        </h5>
      </div>
      <p-scrollTop
        target="parent"
        styleClass="custom-scrolltop"
        [threshold]="100"
        icon="pi pi-arrow-up"
      ></p-scrollTop>
    </p-scrollPanel>
  </div>
</div>
