<div class="policy-logo">
  <img alt="logo" class="text-center" src="./assets/img/PhilliplifeLogo.svg" width="100px" />
</div>
<!-- <div class="policy-back">
  <img alt="logo" class="text-center" src="./assets/img/PhilliplifeLogo.svg" width="100px" />
</div> -->
<div class="privacy w-100">
  <div class="card">
    <p-scrollPanel [style]="{ width: '100%', height: '70vh' }" styleClass=" app-scrollbar">
      <div>
        <h2>นโยบายการใช้คุกกี้</h2>
        <h5>
          เว็บไซต์นี้ให้บริการโดย บริษัท ฟิลลิปประกันชีวิต จำกัด (มหาชน) (บริษัทฯ)
          ซึ่งใช้คุกกี้เพื่อช่วยแยกแยะรูปแบบการใช้งานเว็บไซต์ของผู้ใช้บริการเว็บไซต์ออกจากกัน
          เพื่อช่วยให้ผู้ใช้บริการเว็บไซต์ได้รับประสบการณ์ที่ดีจากการใช้งานเว็บไซต์ของบริษัทฯมากขึ้น
          บริษัทฯ จึงได้จัดทำนโยบายคุกกี้ฉบับนี้ขึ้นเพื่ออธิบายถึงการทำงานของคุกกี้และการใช้คุกกี้
          ในกรณีที่ผู้ใช้บริการเว็บไซต์เข้าใช้งานเว็บไซต์และยอมรับนโยบายการใช้คุกกี้ถือว่าผู้ใช้บริการเว็บไซต์ยินยอมให้บริษัทฯ
          ใช้คุกกี้ได้ตามเงื่อนไขที่ระบุไว้ในนโยบายนี้
        </h5>
        <h3>ข้อ 1. คุกกี้คืออะไร</h3>
        <h5>
          “คุกกี้” คือ ข้อมูลที่บริษัทฯ ส่งไปที่เครื่องคอมพิวเตอร์หรืออุปกรณ์ผ่าน Web Browser
          ของผู้ใช้บริการเว็บไซต์ ในกรณีที่ผู้ใช้บริการเว็บไซต์เข้าใช้บริการเว็บไซต์
          หรือช่องทางออนไลน์อื่นๆ ของบริษัทฯ
          และติดตั้งข้อมูลดังกล่าวไว้ในระบบของผู้ใช้บริการเว็บไซต์
          โดยหากมีการใช้คุกกี้ก็จะทำให้เว็บไซต์ของบริษัทฯ
          สามารถบันทึกหรือจดจำข้อมูลของผู้ใช้บริการเว็บไซต์ ไว้จนกว่าผู้ใช้บริการเว็บไซต์จะออกจาก
          Web browser หรือจนกว่าผู้ใช้บริการเว็บไซต์จะทำการลบ
          คุกกี้นั้นเสียหรือไม่อนุญาตให้คุกกี้นั้นทำงานอีกต่อไป
        </h5>
        <h3>ข้อ 2. ประโยชน์ของคุกกี้</h3>
        <h5>
          คุกกี้จะทำให้บริษัทฯ ทราบลักษณะการใช้งานเว็บไซต์ของผู้ใช้บริการเว็บไซต์ เพื่อให้บริษัทฯ
          สามารถปรับปรุงเว็บไซต์ให้ตรงกับความต้องการของผู้ใช้บริการเว็บไซต์ได้
          พร้อมทั้งช่วยให้บริษัทฯ
          สามารถพัฒนาคุณภาพของเว็บไซต์เพื่อให้ผู้ใช้บริการเว็บไซต์ได้รับประสบการณ์ที่ดีและความสะดวกสบายในการใช้บริการผ่านเว็บไซต์ของบริษัทฯ
          มากยิ่งขึ้น
        </h5>
        <h3>ข้อ 3. การใช้คุกกี้</h3>
        <h5>บริษัทฯ อาจนำข้อมูลที่คุกกี้ได้บันทึกหรือเก็บรวบรวมไว้ไปใช้ในกรณี ดังต่อไปนี้</h5>
        <h5>
          1. เพื่อให้ระบบแสดงข้อมูลหรืออนุญาตให้ผู้ใช้บริการเว็บไซต์เข้าถึงบริการบางอย่างได้ เช่น
          การแจ้งหรือส่งคำสั่งให้กับบริษัทฯ ดำเนินการ การสอบถามข้อมูลกรมธรรม์
          หรือการเปลี่ยนแปลงรายละเอียดส่วนตัว เช่น รหัสผ่าน (Password), E-mail Address, Mobile Phone
          เป็นต้น
        </h5>
        <h5>
          2. เพื่อให้บริษัทฯ สามารถนำเสนอข่าวสารหรือประชาสัมพันธ์เกี่ยวกับบริษัทฯ
          และบริการที่เป็นประโยชน์ต่อผู้ใช้บริการเว็บไซต์แต่ละรายตามความเหมาะสม
        </h5>
        <h5>
          3.
          เพื่อใช้เป็นข้อมูลเบื้องต้นในการปรับปรุงเนื้อหาและบริการของเว็บไซต์ให้สอดคล้องกับความต้องการของผู้ใช้บริการเว็บไซต์มากที่สุด
        </h5>
        <h5>4. เพื่อใช้ในการวิเคราะห์เชิงสถิติ หรือในกิจกรรมอื่นของบริษัทฯ</h5>
        <h3>ข้อ 4. วิธีปิดการทำงานของคุกกี้</h3>
        <h5>
          ผู้ใช้บริการเว็บไซต์สามารถปิดการทำงานของคุกกี้ได้โดยการตั้งค่าในเบราวเซอร์ของผู้ใช้บริการเว็บไซต์
          ซึ่งสามารถปฏิเสธการติดตั้งค่าคุกกี้ทั้งหมดหรือบางประเภทก็ได้
          อย่างไรก็ตามหากผู้ใช้บริการเว็บไซต์เลือกที่จะปฏิเสธคุกกี้
          อาจทำให้ไม่สามารถที่จะใช้งานบางส่วนของเว็บไซต์และบริการออนไลน์ของบริษัทฯ
          หรือคุณสมบัติบางอย่างของเว็บไซต์ของบริษัทฯได้
        </h5>
        <br />
      </div>
      <p-scrollTop
        target="parent"
        styleClass="custom-scrolltop"
        [threshold]="100"
        icon="pi pi-arrow-up"
      ></p-scrollTop>
    </p-scrollPanel>
  </div>
</div>
