<div class="layout-sidebar" (click)="appMain.onMenuClick($event)">
  <a [routerLink]="['/']" class="logo">
    <!-- <img
            id="app-logo"
            class="logo-image"
            src="assets/img/iapply_logo2.png"
            alt="diamond-ng"
        /> -->
    <span class="app-name">Life Insurance Systems</span>
  </a>

  <div class="layout-menu-container">
    <!-- <i
            class="pi pi-search"
            style="position: absolute; padding-left: 5px; padding-top: 10px"
        ></i> -->
    <input
      pInputText
      type="text"
      placeholder="ใสรหัสแบบประกัน"
      style="width: 100%; color: #fff !important; border-color: #39628c"
    />
    <!-- <div style="width: 100%;padding-top: 5px;margin-bottom: 10px;">
            <button
                style="float: left"
                pButton
                pRipple
                type="button"
                class="p-button-raised p-button-warning "
            >
                <i class="pi pi-search"></i>
            </button>
            <span style="width: 100%;color: #fff;padding-left: 20px !important;text-align: right;">
                ค้นหาแบบประกัน
            </span>
        </div> -->
    <ul class="layout-menu">
      <ng-container *ngFor="let item of model; let i = index">
        <li
          app-menuitem
          *ngIf="!item.separator"
          [item]="item"
          [index]="i"
          [root]="true"
        ></li>
        <li *ngIf="item.separator" class="menu-separator"></li>
      </ng-container>
    </ul>
  </div>
</div>
