/* Right Sidebar Demo Content */
.layout-sidebar-right {
  p {
    font-size: 0.875rem;
    color: $textSecondaryColor;
  }

  .withdraw {
    margin-top: -0.5rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;

    > div {
      padding: 0.5rem;
    }

    input,
    button {
      font-size: 0.875rem;
    }
  }
}
