<basic-plan-information [product]="product"></basic-plan-information>
<general-information [product]="product"></general-information>
<underwriting-information [product]="product"></underwriting-information>
<premium-information [product]="product"></premium-information>
<mode [product]="product"></mode>
<commission-information [product]="product"></commission-information>
<load-reinstate-information [product]="product"></load-reinstate-information>
<participation-dividend-information [product]="product"></participation-dividend-information>
<cash-value-unit-value-information [product]="product"></cash-value-unit-value-information>
<extended-term-reduced-paidup-information [product]="product"></extended-term-reduced-paidup-information>
<maturity-information [product]="product"></maturity-information>
<expiry-information [product]="product"></expiry-information>
<premium-change-information [product]="product"></premium-change-information>

<!-- <ng-container *ngFor="let item of product">
  <p-fieldset
    legend="Basic Plan Information"
    [toggleable]="true"
    [collapsed]="true"
  >
    <p-table
      [value]="product"
      styleClass="p-datatable-gridlines"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>
            Plan Code
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
          <td>
            Plan Description
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.rpuTbacId }}</b>
            </label>
          </td>
        </tr>
        <tr>
          <td>
            Group Location
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
          <td>
            Supplementary Benefit
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.rpuTbacId }}</b>
            </label>
          </td>
        </tr>
        <tr>
          <td>
            Basic Coverage
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
          <td>
            Class of Business
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.rpuTbacId }}</b>
            </label>
          </td>
        </tr>
        <tr>
          <td>
            Line of Business
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
          <td>
            Type of Insurance
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.rpuTbacId }}</b>
            </label>
          </td>
        </tr>
        <tr>
          <td>
            Application Form Type
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
          <td>
            T2nd Digit of G/L
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.rpuTbacId }}</b>
            </label>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-fieldset>

  <p-fieldset legend="Availability" [toggleable]="true" [collapsed]="true">
    <p-table
      [value]="product"
      styleClass="p-datatable-gridlines"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>
            Effective Date
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
          <td>
            Expiry Date
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.rpuTbacId }}</b>
            </label>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-fieldset>
</ng-container>

<ng-container *ngFor="let item of product">
  <p-fieldset
    [toggleable]="true"
    [collapsed]="true"
    legend="Free Look / Tax Exemption"
  >
    <p-table
      [value]="product"
      styleClass="p-datatable-gridlines"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>
            Free-Look Indicator
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
          <td>
            Tax-Exempt Indicator
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.rpuTbacId }}</b>
            </label>
          </td>
        </tr>
        <tr>
          <td>
            ในกรณี Tax Exempt = 'C' ให้ดูเอกสารประกอบ คลิกที่นี่-สำหรับแบบสามัญ
            และ คลิกที่นี่-สำหรับแบบตะกาฟุล และ คลิกที่นี่-สำหรับแบบปี 2013
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-fieldset>
</ng-container>

<ng-container *ngFor="let item of product">
  <p-fieldset
    [toggleable]="true"
    [collapsed]="true"
    legend="General Information"
  >
    <p-table
      [value]="product"
      styleClass="p-datatable-gridlines"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>
            Date Rule
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
          <td>
            Value per Unit
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.rpuTbacId }}</b>
            </label>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-fieldset>
</ng-container>

<ng-container *ngFor="let item of product">
  <p-fieldset
    [toggleable]="true"
    [collapsed]="true"
    legend="Calculation Method"
  >
    <p-table
      [value]="product"
      styleClass="p-datatable-gridlines"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>
            Age Calculation
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
          <td>
            Death Benefit
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.rpuTbacId }}</b>
            </label>
          </td>
        </tr>
        <tr>
          <td>
            Sum Insured
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
          <td></td>
        </tr>
      </ng-template>
    </p-table>
  </p-fieldset>
</ng-container>

<ng-container *ngFor="let item of product">
  <p-fieldset
    [toggleable]="true"
    [collapsed]="true"
    legend="Non-Forfeiture Information"
  >
    <p-table
      [value]="product"
      styleClass="p-datatable-gridlines"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>
            Grace period
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
          <td></td>
        </tr>
      </ng-template>
    </p-table>
  </p-fieldset>
</ng-container>

<ng-container *ngFor="let item of product">
  <p-fieldset
    [toggleable]="true"
    [collapsed]="true"
    legend="Underwriting Information"
  >
    <p-table
      [value]="product"
      styleClass="p-datatable-gridlines"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>
            Underwriting Required
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
          <td>
            U/W Multiplier
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
        </tr>
        <tr>
          <td>
            Use Clear Case
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
          <td>
            Age and Amount
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-fieldset>
</ng-container>

<ng-container *ngFor="let item of product">
  <p-fieldset
    [toggleable]="true"
    [collapsed]="true"
    legend="Premium Information"
  >
    <p-table
      [value]="product"
      styleClass="p-datatable-gridlines"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>
            Premium Calculation
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
          <td>
            Substandard Premium Calc.
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
        </tr>
        <tr>
          <td>
            Renewal Premium Type
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
          <td>
            PDF Interest
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            Premium is contractual
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-fieldset>
</ng-container>

<ng-container *ngFor="let item of product">
  <p-fieldset
    [toggleable]="true"
    [collapsed]="true"
    legend="Modal Loads / Policy Fees"
  >
    <p-table
      [value]="product"
      styleClass="p-datatable-gridlines"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>
            Basic Coverage Fee
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
          <td>
            Rider Covergage Fee
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-fieldset>
</ng-container>

<ng-container *ngFor="let item of product">
  <p-fieldset [toggleable]="true" [collapsed]="true">
    <tr>
      <td>
        Model
        <label style="padding-left: 5rem; color: #34597e"> </label>
      </td>
      <td>
        Mode Factor
        <label style="padding-left: 5rem; color: #34597e"> </label>
      </td>
      <td>
        Fee Factor
        <label style="padding-left: 5rem; color: #34597e"> </label>
      </td>
      <td>
        Mode PAC
        <label style="padding-left: 5rem; color: #34597e"> </label>
      </td>
      <td>
        Mode PAC
        <label style="padding-left: 5rem; color: #34597e"> </label>
      </td>
      <td>
        Mode Factor
        <label style="padding-left: 5rem; color: #34597e"> </label>
      </td>
      <td>
        Fee Factor
        <label style="padding-left: 5rem; color: #34597e"> </label>
      </td>
    </tr>
    <tr>
      <td>
        Semi-Annual
        <label style="padding-left: 5rem; color: #34597e"> </label>
      </td>
      <td>
        <label style="padding-left: 5rem; color: #34597e"> </label>
      </td>
      <td>
        <label style="padding-left: 5rem; color: #34597e"> </label>
      </td>
      <td>
        Semi-Annual PAC
        <label style="padding-left: 5rem; color: #34597e"> </label>
      </td>
    </tr>
    <tr>
      <td>
        Quarterly
        <label style="padding-left: 5rem; color: #34597e"> </label>
      </td>
      <td>
        <label style="padding-left: 5rem; color: #34597e"> </label>
      </td>
      <td>
        <label style="padding-left: 5rem; color: #34597e"> </label>
      </td>
      <td>
        VQuarterly PAC
        <label style="padding-left: 5rem; color: #34597e"> </label>
      </td>
    </tr>
    <tr>
      <td>
        Monthly
        <label style="padding-left: 5rem; color: #34597e"> </label>
      </td>
      <td>
        <label style="padding-left: 5rem; color: #34597e"> </label>
      </td>
      <td>
        <label style="padding-left: 5rem; color: #34597e"> </label>
      </td>
      <td>
        Monthly PAC
        <label style="padding-left: 5rem; color: #34597e"> </label>
      </td>
    </tr>
  </p-fieldset>
</ng-container>

<ng-container *ngFor="let item of product">
  <div><button>test</button></div>
  <p-fieldset
    [toggleable]="true"
    [collapsed]="true"
    legend="Commission Information   (Show Field Definition)"
  >
    <p-table
      [value]="product"
      styleClass="p-datatable-gridlines"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>
            Rate Type
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
          <td>
            Percent Pointer
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
        </tr>
        <tr>
          <td>
            Rate Header Pointer
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
          <td>
            Calculation Method
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-fieldset>
</ng-container>

<ng-container *ngFor="let item of product">
  <p-fieldset
    [toggleable]="true"
    [collapsed]="true"
    legend="CLoan/Reinstate Information"
  >
    <p-table
      [value]="product"
      styleClass="p-datatable-gridlines"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>
            Interest Calc Method
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
          <td>
            Interest Rate Pointer
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
        </tr>
        <tr>
          <td>
            APL Interest Pointer
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
          <td>
            Interest Type
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
        </tr>
        <tr>
          <td>
            Annual Interest Rate
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
          <td>
            Include in Loanable Amt
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
        </tr>
        <tr>
          <td>
            Reinstate Interest Rate
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
          <td></td>
        </tr>
      </ng-template>
    </p-table>
  </p-fieldset>
</ng-container>

<ng-container *ngFor="let item of product">
  <p-fieldset
    [toggleable]="true"
    [collapsed]="true"
    legend="Participation/Dividend Information (Show field definition)"
  >
    <p-table
      [value]="product"
      styleClass="p-datatable-gridlines"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>
            Participation Indicator
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
          <td>
            One Year Term Pointer
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
        </tr>
        <tr>
          <td>
            Dividend Plus 6th Acct.
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
          <td>
            DOD Interest Pointer
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-fieldset>
</ng-container>

<ng-container *ngFor="let item of product">
  <p-fieldset
    [toggleable]="true"
    [collapsed]="true"
    legend="Cash Value/Unit Value Information (Show field definition)"
  >
    <p-table
      [value]="product"
      styleClass="p-datatable-gridlines"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>
            Cash Value Calculation
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
          <td>
            CSV Calculation as at
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
        </tr>
        <tr>
          <td>
            Unit Value-Premium Paying
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
          <td>
            Unit Value-Paidup
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-fieldset>
</ng-container>

<ng-container *ngFor="let item of product">
  <p-fieldset
    [toggleable]="true"
    [collapsed]="true"
    legend="Extended Term/Reduced Paidup Information (Show field definition)"
  >
    <p-table
      [value]="product"
      styleClass="p-datatable-gridlines"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>
            ETI Face Amount
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
          <td>
            ETI Calculation
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
        </tr>
        <tr>
          <td>
            RPU Calculation
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
          <td>
            ETI/RPU-Exceed NSP Calc
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
        </tr>
        <tr>
          <td>
            ETI CSV Process
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
          <td></td>
        </tr>
      </ng-template>
    </p-table>
  </p-fieldset>
</ng-container>

<ng-container *ngFor="let item of product">
  <p-fieldset
    [toggleable]="true"
    [collapsed]="true"
    legend="Maturity Information (Show field definition)"
  >
    <p-table
      [value]="product"
      styleClass="p-datatable-gridlines"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>
            Maturity Calculation
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
          <td>
            Plan Maturity Age
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
        </tr>
        <tr>
          <td>
            Plan Maturity Year
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
          <td>
            Sum Insured
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-fieldset>
</ng-container>

<ng-container *ngFor="let item of product">
  <p-fieldset
    [toggleable]="true"
    [collapsed]="true"
    legend="Expiry Information (Show field definition)"
  >
    <p-table
      [value]="product"
      styleClass="p-datatable-gridlines"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>
            Expiry Calculation
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
          <td>
            Policy Expiry Age
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
        </tr>
        <tr>
          <td>
            Policy Expiry Year
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
          <td>
            Coverage Expiry Age
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
        </tr>
        <tr>
          <td>
            Coverage Expiry Year
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
          <td></td>
        </tr>
      </ng-template>
    </p-table>
  </p-fieldset>
</ng-container>

<ng-container *ngFor="let item of product">
  <p-fieldset
    [toggleable]="true"
    [collapsed]="true"
    legend="Premium Change Information (Show field definition)"
  >
    <p-table
      [value]="product"
      styleClass="p-datatable-gridlines"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>
            Premium Change Calc.
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
          <td>
            Age/Year
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
        </tr>
        <tr>
          <td>
            Initial Age
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
          <td>
            Ultimate Age
            <label style="padding-left: 5rem; color: #34597e">
              <b>{{ product?.reinstIntRtId }}</b>
            </label>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-fieldset>
</ng-container> -->
