<basic-plan-information [product]="product"></basic-plan-information>
<general-information [product]="product"></general-information>
<underwriting-information [product]="product"></underwriting-information>
<premium-information [product]="product"></premium-information>
<mode [product]="product"></mode>
<commission-information [product]="product"></commission-information>
<load-reinstate-information [product]="product"></load-reinstate-information>
<participation-dividend-information
  [product]="product"
></participation-dividend-information>
<cash-value-unit-value-information
  [product]="product"
></cash-value-unit-value-information>
<extended-term-reduced-paidup-information
  [product]="product"
></extended-term-reduced-paidup-information>
<maturity-information [product]="product"></maturity-information>
<expiry-information [product]="product"></expiry-information>
<premium-change-information [product]="product"></premium-change-information>
