<p-divider>
  <div class="inline-flex align-items-center">
    <button
      pButton
      pRipple
      type="button"
      class="p-button-rounded p-button-secondary custom-color"
      (click)="onClick()"
    >
      <b class="header-button"> {{ text }} </b>
    </button>
    <ng-container *ngIf="textModal">
      <span
        pButton
        pRipple
        type="button"
        class="p-button-secondary p-button-text"
        (click)="onClickModal($event)"
      >
        <b class="show-modal">{{ textModal }}</b>
      </span>
    </ng-container>
  </div>
</p-divider>
