@import "variables";

.td-active {
    color: $color-main;
}

.header-button {
    color: $color-main;
    border-color: $border-color;
    // min-width: 15rem;
}

.show-modal {
    padding-left: 10px;
    color: #fd8b1d;
    cursor: pointer;
}

tr > td {
    font-size: 15px !important;
}

.p-button-secondary {
    padding: 0.2rem 1rem !important;
}

.custom-color {
    background-color: #96969640;
}

.custom-color:hover {
    // background-color: #96969640;
    box-shadow: 4px 5px 0px -2px $color-main;
}
