<div class="layout-topbar">
  <div class="topbar-left">
    <a tabindex="0" class="menu-button" (click)="appMain.onMenuButtonClick($event)">
      <i class="pi pi-chevron-left"></i>
    </a>
  </div>

  <app-menu-left></app-menu-left>

  <div class="layout-mask modal-in"></div>
  <div class="topbar-right">
    <ul class="topbar-menu">
      <li class="search-item">
        <a tabindex="0" (click)="appMain.onSearchClick($event)">
          <i class="pi pi-search"></i>
        </a>
      </li>
      <li
        class="profile-item"
        [ngClass]="{
          'active-menuitem fadeInDown': appMain.topbarUserMenuActive
        }"
      >
        <a href="#" (click)="appMain.onTopbarUserMenuButtonClick($event)">
          <span class="profile-name">
            {{ authentication?.userValue?.userAD }}
          </span>
        </a>
        <ul class="profile-menu fade-in-up">
          <li>
            <a href="#">
              <i class="pi pi-user"></i>
              <span>Profile</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="pi pi-cog"></i>
              <span>Settings</span>
            </a>
          </li>
        </ul>
      </li>
      <li
        [ngClass]="{
          'active-menuitem': appMain.signOutMenuActive
        }"
      >
        <a href="#" (click)="appMain.onMenuSignOut($event)">
          <span style="cursor: pointer">
            <i class="pi pi-power-off" style="font-size: 1.2rem"></i>
          </span>
        </a>
        <ul class="profile-menu fade-in-up">
          <li>
            <a (click)="signOut()">
              <i class="pi pi-power-off"></i>
              <span>Logout</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
