$color-main: #2e4e6e;
$color-active: #396ca0;
$color-menu-active: #19354e;
$color-orange: #fd8b1e;
$color-orange-active: #ffb268;
$color-white: white;
$border-color: #e1e2e2;
$color-topbar: $color-main;
